<h1 class="title">Stock Management.</h1>

<table width="95%" border="1">
<th width="100">Stock Editor:</th><th>Product Name:</th><th>Artist:</th><th>Genre:</th><th>Quantity:</th><th>Stock Check:</th><th>Buy Price:</th><th>Sell Price:</th><th>Markup:</th><tr>

<% @stocks.each do |stock| %>
  
<td><a href="/stocks/<%= stock.id  %>" class="link">View Record</a></td>
  
  <% stock.albums.each do |album| %>
      <td><a href="/albums/<%= album.id  %>" class="link"><%= album.name %></a></td>
      <% end %>

    <% stock.albums.each do |album| %>
      <% album.artists.each do |artist| %>
      
      <td><a href="/artists/<%= artist.id  %>" class="link"><%= artist.name  %></a></td>

      <td><%= artist.genre  %></td>


      <% end %>
      <% end %>

    <td><%= stock.stock_level() %></td>

    <td><%= stock.stock_check() %></td>

    <td>£<%= stock.buy_price() %>.00</td>
     
     <td>£<%= stock.sell_price() %>.00</td>

     <td>£<%= stock.markup() %>.00</td>
<tr>
<% end %>

</table>
