<h2>Stock Levels</h2>

<% @stocks.each do |stock| %>
  
<p><b>Product ID:</b> <%= stock.album_id() %><br>
<a href="/stocks/<%= stock.id  %>">Check Stock Record</a><br><br>
  
  <b>Product Name:</b> 
  <% stock.albums.each do |album| %>
      <%= album.name %><br>
      <a href="/albums/<%= album.id  %>">Check Product Record</a><br>
      <% end %><br>

  <b>Artist:</b>
    <% stock.albums.each do |album| %>
      <% album.artists.each do |artist| %>
      <%= artist.name  %><br>
      <a href="/artists/<%= artist.id  %>">Check Artist Record</a><br>
      <% end %><br>
      
      <% end %>

    <b>Quantity:</b> <%= stock.stock_level() %><br><br>

    <b>Buy Price:</b> £<%= stock.buy_price() %>.00<br><br>

    <b>Sell Price:</b> £<%= stock.sell_price() %>.00<br><br>

    <b>Markup:</b> £<%= stock.markup() %>.00<br><br>

    </p>
    <hr>

<% end %>
