<h1 class="title">Current Inventory.</h1>

<table width="95%" border="1">
<th width="100">Product:</th><th>Artist:</th><th>Genre:</th><th>Stock Level:</th><th>Stock Check:</th><tr>

<% @stocks.each do |stock| %>
  <% stock.albums.each do |album| %>
  <td><%= album.name %></td>
  <% end %>
  
  <% stock.artists.each do |artist| %>
  <td><%= artist.name %></td> 
  <% end %>

  <% stock.artists.each do |artist| %>
  <td><%= artist.genre %></td> 
  <% end %>
  
  <td><%= stock.stock_level %></td>
  
 <td><%= stock.stock_check %></td> 
<tr>
<% end %>

</table>